<!DOCTYPE html>
<html>
<head>

	<title>
		Forever - Alogirithmic Composition
	</title>

	<!--Scoket.io-->
	<script src="js/lib/socket.io-1.4.5.js"></script>

	<!-- P5.js -->
	<script src="js/lib/p5.min.js"></script>

	<!-- Tone.js -->
	<script src="js/lib/p5.sound.min.js"></script>

	<!--Client Side Global Variables=-->
	<script src="js/src/global.js"></script>

	<!--Client Side JS Utilities-->
	<script src="js/src/util.js"></script>

	<!-- Canvas and p5.js Utilities -->
	<script type="js/src/canvas.js"></script>

	<!--Client Side CSS-->
	<link rel="stylesheet" href="css/client.css">

</head>
<body>
<div id="interfaceDebug">
<h1>Forever - Social composition</h1>
<h2>Users</h2>
<div id="usr"></div>
<div id="location"></div>
<div id="error"></div>
</div>
<script>

	//Decale a new socket connection
	socket = io();

	//Once your connected log it
 	socket.on('connect', function(){

 		introduction(socket, 'player');

  	});

	//Wait for a new user from the server save it to a local server
	socket.on('user', function(count){

		userCounter(count, 'usr');

	});

	//When the server sends everybody's data back
	socket.on('serverGeoData', function(geodata){

		canvasLocations = [];

		//Log the data for debugging
		// console.log(geodata);

		//Assign this data globally
		serverGeo = geodata;

		if(serverGeo != 0 && start === false){

			setTimeout(function(){

				start = true;

			}, 1000);

		}
		
		//Iterate over the amount of clients and map the values to canvas
		for(var i = 0; i < Object.keys(geodata).length; i++){

			var latlong = serverGeo[Object.keys(serverGeo)[i]];

			var mappedY = map(latlong[0], 90, -90, 0, height);
			var mappedX = map(latlong[1], -180, 180, 0, width);

			canvasLocations.push([mappedX, mappedY]);

			// console.log(mappedX + ' ' + mappedY);
			
		}


	});



	function preload(){};

	function setup(){

		//Setting up a canvas
		createCanvas(windowWidth, windowHeight);

		//Setup envelope
		env = new p5.Env();
  		env.setADSR(0.5, 0.2, 0.1, 0.5);

		//Setting up a test oscilator
		osc = new p5.Oscillator();
		freq = midiToFreq(pentatonicMin[0]);
		osc.setType('sine');
		osc.freq(freq);
		osc.amp(env);
		osc.start();
	};



	function draw(){

		//Draw a white background
		background(255);

		//Don't start before the server sends off gps data
		if(start == true){
			//Transport courser increment
			transportLine = transportLine + 1;
		}

		//Courser
		line(transportLine, height, transportLine, 0);

		//Make it repeat and count cycles
		if(Math.round(transportLine) == width){

			transportLine = 0;

			cycleCounter++;

		} 

		//Iterate over the array that stores users pixel postions
		for(var i = 0; i < canvasLocations.length; i++){

			var locations = canvasLocations[i];

			//Draw a rect for each user
			rect(locations[0], locations[1], 5, 5);

			//If the courser reaches a user trigger the synth
			if(Math.round(transportLine) == Math.round(locations[0])){

					console.log('Note with the frequncey ' + freq + ' Hz played');

						//Trigger an oscilator hit and stop
						env.play();

						osc.amp(env, 0.05);


							//Set the oscilator note off
							setTimeout(function(){

							 	osc.amp(0, 0.05);

							}, 1000);

			}

		}

		


	};

	//Never give up pushing the data!	
  	setInterval(function(){

  		//1st Argument is wheter to appand the value to the DOM second is the div
	  	var geodata = getGeoPosition(false, 'location');

  	}, 1000);
</script>
</body>
</html>