<!DOCTYPE html>
<html>
<head>

	<title>
		Forever - Alogirithmic Composition
	</title>

	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

	<!--Scoket.io-->
	<script src="js/lib/socket.io-1.4.5.js"></script>

	<!-- P5.js -->
	<script src="js/lib/p5.min.js"></script>

	<!-- Tone.js -->
	<script src="js/lib/p5.sound.min.js"></script>

	<!--Client Side Global Variables=-->
	<script src="js/src/global.js"></script>

	<!--Client Side JS Utilities-->
	<script src="js/src/util.js"></script>

	<!-- Canvas and p5.js Utilities -->
	<script type="js/src/canvas.js"></script>

	<!-- Mapbox maps -->
    <script src='js/lib/mapbox-gl.js'></script>
    <link href='js/lib/mapbox-gl.css' rel='stylesheet' />

    <!-- Marcetor -->
    <script src="js/lib/sphericalmercator.js"></script>

	<!--Client Side CSS-->
	<link rel="stylesheet" href="css/client.css">

	<!-- Dat Gui for debugging -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js"></script>

</head>
<body>

<!-- Map container -->
<div id="map" class="map mapboxgl-map"></div>

<!-- Client side app -->
<script src="js/src/client.js"></script>

</body>
</html>
