body{
	background-color: #fff;
	padding: 0;
	margin: 0;
	overflow: none !important;
}
canvas{
	position: absolute;
	top: 0; left: 0;
	z-index: 1 !important;
}
#interfaceDebug{
	display: none;
	position: absolute;
	z-index: 100 !important;
}
#map { position:absolute; top:0; bottom:0; width:100%; }

.mapboxgl-ctrl{
	display: none !important;
}
.mapboxgl-ctrl-attrib{
	display: none !important;
}
